*{
    font-family: Arial, Helvetica, sans-serif;
}
.midNav{
   position: fixed;
   top: 0;
   background-color: white;
   width: 100%;
   z-index: 999;
   border-radius: 5px 5px 0px 0px;
}
.camhead{
    font-size: 60px;
    font-weight: bolder;   
}
.lancelot{
    margin: 1em;
}
.cam-rewards{
    margin: 1em;
}
.nav{
    display: flex;
    justify-content: flex-start;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 999;
    font-size: 20px;
    
}
a:link {
    text-decoration: none;
    transition: all .6s ease-in-out; 
    
}
a:visited {
    color: black;
}
.plan{
    margin: 1em;
    color: black;
    
}
.plan:hover{
    color: #b26700;
    transform: scale(1.1)
}
.visit {
    margin: 1em;
   
}
.visit:hover{
    color: #b26700;
    transform: scale(1.1)
}
.store {
    margin: 1em;
}
.store:hover{
    transform: scale(1.1)
}

.top-container {
    display: flex;
    margin-top: 4em;
    
}
.bottom-container {
    display: flex;
    
}
.blue-box{
    background-color: #161032;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow:3px 3px lightgray;
    cursor: pointer;
    border-radius: 5px 0px 0px 5px;
    
}
.information{
    color:white;
    background-color: #ffc53a;
    height: 300px;
    width: 550px;
    box-shadow:3px 3px lightgray;
}
.blueParagraph{
    width: 500px;
    align-self: center;
    
}
.castleParagraph{
    width: 500px;
    align-self: center;

}
.orange-box{
    background-color:#E06D06;
    height: 300px; 
    width: 100%;   
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow:3px 3px lightgray;    
    border-radius: 0px 5px 5px 0px;
}
.oranges {
    flex: 1;
    height: 300px;
    width: 550px;
    order: -1;
    box-shadow:3px 3px lightgray;
    border-radius: 5px 0px 0px 5px;
    
}
.ticketing {
    display: none;
    height: 300px;
    width: 550px;
    align-self: flex-start;
    font-size: 30px;
    margin: 1em;

}
.castle-text{
    font-size: 40px;
    color: white;
}
.back{
    display: none;
    height: 300px;
    width: 550px;
    align-self: flex-start;
    font-size: 25px;
    margin: 1em;
    cursor: pointer;
}
.tickets{
    font-size: 25px;
    color: white;
    align-self: center;
    margin: 1em;
    cursor: pointer;

}
.dragon {
    height: 300px;
    width: 550px;
    box-shadow:3px 3px lightgray;
    border-radius: 0px 5px 5px 0px;
    
}
.dragons {
    font-size: 40px;
    color: white;
}
.info{
    font-size: 25px;
    color: white;
    margin: 1em;
    align-self: center;
}
.camelot {
    display: flex;
}
.middle-castle {
    height: 450px;
    width: 450px;
    order: -1;
    margin: 1em;
    box-shadow:3px 3px lightgray;
    border-radius: 5px 5px 5px 5px;
}
.middle-castle:hover{
    opacity: 0.5;
}
.in-camelot {
    order: 1;
}
.camParagraph {
    display: flex;
    flex-direction: column;
    margin: 2em;
    justify-content: center;
    width: 700px;
}
.in-camelot {
    font-size: 30px;
    order: -1;
    color: #FFC539;
}
.do-camelot{
    font-size: 35px;
    font-weight: bold;
    
}
.camelot-text{
    font-size: 20px;
}
.knight{
    display: flex;
}
.knightpic{
    width: 450px;
    height: 400px; 
    align-self: flex-end;
    box-shadow:3px 3px lightgray;
    border-radius: 5px 5px 5px 5px;
}
.knightpic:hover {
    opacity: 0.5;
    
}
.knightParagraph {
    display:flex;
    flex-direction: column;
    margin: 2em;
    justify-content: center;
    width: 700px;
}
.round-table{
    color: #FFC539;
    font-size: 30px;
}
.be-knight {
    font-size: 35px;
    font-weight: bold;
}
.knight-text{
    font-size: 20px; 
}
@media (max-width: 500px){
    *{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        flex-direction: column;
    }
    title{
        display: none;
    }

    .midNav{
        width: 100%;
        position: relative;
    }
    .nav {
        position: relative;
        text-align: center;
    }
    .blue-box{
       margin: 1em;
        width: 450px;
        height: 150px;
        order: 1;
    }
    .dragons{
        font-size: 24px;
        width: 300px;
      
    }
    .info {
        font-size: 15px;

    }
    .dragon {   
        width: 450px;
        margin: 1em; 
    }
    .top-container {
        display: flex;
        
    }
    .bottom-container{
        margin: 0 auto;
        font-size: 15px;
    }
    .orange-box {
        margin: 1em;
        width: 450px;
        height: 150px;
    }
    .castle-text{
        font-size: 24px;

    }
    .oranges{
        margin: 1em;
        width: 450px;
    }
    .camelot {
      margin: 0 auto;
    }
    .ticket{
        font-size: 15px;
    }
    .middle-castle{
        width: 450px;
        height: 400px;
        margin: 0 auto;
    }
    .camParagraph{
        width: 450px;
    }
    .knight-text{
        width: 450px;
    }
    .knightpic{
        order: -1;
    }
    .tickets{
        font-size: 15px;
    }
}
