*{
    font-family: 'Crete Round', serif;
    padding: 0;
    margin: 0;
}
body{
    background-color: #f2f2f0;
}
.search-bar{
    position: fixed;
    border-radius: 5px;
}
.midNav{
   top: 0;
   position: fixed;
   flex-direction: row;
   background-color: white;
   width: 100%;
   z-index: 999;
   border-radius: 5px 5px 0px 0px;
}
.camhead{
    font-size: 60px;
    font-weight: bolder;  
    animation: changeColor 5s infinite;
         
}
@keyframes changeColor{
    0%{
        color: #e8b010;
    }
    15%{
        color: #b26700;
    }
    25%{
        color: #dba818;
    }
    30%{
        color: #fcba03;
    }
    40%{
        color: #c4930a;
    }
    50%{
        color: #faff81
    }
    75%{
        color: #ffc53a
    }
    100%{
        color: #e06d06;
    }
}
.nav{
    display: flex;
    justify-content: flex-start;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 999;
    font-size: 20px;
    
}
.sword{
   width: 40px;
   height: 40px;
   animation: changePosition 2s infinite;
   
}

@keyframes changePosition {
    50%{
        transform: translateX(-4px);
    }
}
a:link {
    text-decoration: none;
    color: black;
     
    
}
a:active{
    color: black;
}
a:visited {
    color: black;
}
.plan{
    margin: 1em;
    color: black;
    
}
.plan:hover{
    transition: all .6s ease-in-out;
    transform: scale(1.1);
}
.visit {
    margin: 1em;
   
}
.visit:hover{
    transition: all .6s ease-in-out;
    transform: scale(1.1);
}
.store {
    margin: 1em;
}
.store:hover{
    transition: all .6s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}
.mead {
    width: 350px;
    height: 300px;
    border-radius: 5px 5px 5px 5px;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
 
  .modal-content {
    background-color: white;
    margin: 15% auto; 
    padding: 20px;
    width: 28%; 
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}
  

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.top-container {
    display: flex;
    padding-top: 50px;
    margin-top: 4em;
    position: relative;
    
}
.bottom-container {
    display: flex;
    
}
.blue-box{
    background-color: #161032;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow:3px 3px lightgray;
    border-radius: 5px 0px 0px 5px;
    
}
.information{
    display: none;
    color:white;
    align-self: center;
    width: 550px;
    font-size: 27px;
    border-radius:5px 5px 5px 5px;
}
.blueParagraph{
    width: 500px;
    align-self: center;
    
}
.castleParagraph{
    width: 500px;
    align-self: center;

}
.orange-box{
    background-color:#E06D06;
    height: 300px; 
    width: 100%;   
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow:3px 3px lightgray;    
    border-radius: 0px 5px 5px 0px;
}
.oranges {
    flex: 1;
    height: 300px;
    width: 550px;
    order: -1;
    box-shadow:3px 3px lightgray;
    border-radius: 5px 0px 0px 5px;
    
}
.ticketing {
    display: none;
    height: 300px;
    width: 550px;
    align-self: center;
    font-size: 30px;
    margin: 1em;

}
.castle-text{
    font-size: 40px;
    color: white;
}
.back{
    display: none;
    height: 300px;
    width: 550px;
    align-self: center;
    font-size: 25px;
    margin: 1em;
    cursor: pointer;
    transition: all .6s ease-in-out;
    text-align: center;
}
.back:hover{
    animation: changeColor 2s infinite;    
}
.tickets{
    font-size: 25px;
    color: white;
    align-self: center;
    margin: 1em;
    cursor: pointer;

}
.tickets:hover{
    animation: changeColor 2s infinite;
}
.dragon {
    height: 300px;
    width: 550px;
    box-shadow:3px 3px lightgray;
    border-radius: 0px 5px 5px 0px;
    
}
.dragons {
    font-size: 40px;
    color: white;
}
.info{
    font-size: 25px;
    color: white;
    margin: 1em;
    align-self: center;
    cursor: pointer;
}
.info:hover{
    animation: changeColor 2s infinite;
}
.go-back{
    display: none;
    align-self: center;
    font-size: 25px;
    margin: 1em;
    cursor: pointer;
    color: white;
}
.go-back:hover{
    animation: changeColor 2s infinite;
}
.camelot {
    display: flex;
}
.middle-castle {
    height: 450px;
    width: 450px;
    order: -1;
    margin: 1em;
    box-shadow:3px 3px lightgray;
    border-radius: 5px 5px 5px 5px;
}
.in-camelot {
    order: 1;
}
.camParagraph {
    display: flex;
    flex-direction: column;
    margin: 2em;
    justify-content: center;
    width: 700px;
}
.in-camelot {
    font-size: 30px;
    order: -1;
    color: #FFC539;
}
.do-camelot{
    font-size: 35px;
    font-weight: bold;
    
}
.camelot-text{
    font-size: 20px;
}
.knight{
    display: flex;
}
.knightpic{
    width: 450px;
    height: 400px; 
    align-self: flex-end;
    box-shadow:3px 3px lightgray;
    border-radius: 5px 5px 5px 5px;
}
.knightParagraph {
    display:flex;
    flex-direction: column;
    margin: 2em;
    justify-content: center;
    width: 700px;
}
.round-table{
    color: #FFC539;
    font-size: 30px;
}
.be-knight {
    font-size: 35px;
    font-weight: bold;
}
.knight-text{
    font-size: 20px; 
}
footer{
    display: flex;
    width: 100%;
    height: 25px;
    background-color: #FFC539;
}
@media (max-width: 500px){
    *{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        flex-direction: column;
        width: auto;
    }
    title{
        display: none;
    }

    .midNav{
        width: 100%;
        position: relative;
    }
    .nav {
        position: relative;
        text-align: center;
    }
    .blue-box{
        flex-direction: row;
        margin: 1em;
        width: 450px;
        height: 150px;
        order: 1;
    }
    .dragons{
        font-size: 24px;
        width: 300px;
      
    }
    .info {
        font-size: 15px;

    }
    .dragon {   
        width: 450px;
        margin: 1em; 
    }
    .top-container {
        display: flex;
        
    }
    .bottom-container{
        margin: 0 auto;
        font-size: 15px;
    }
    .orange-box {
        flex-direction: row;
        margin: 1em;
        width: 450px;
        height: 150px;
    }
    .castle-text{
        font-size: 24px;

    }
    .oranges{
        margin: 1em;
        width: 450px;
    }
    .camelot {
      margin: 0 auto;
    }
    .ticket{
        font-size: 15px;
    }
    .middle-castle{
        width: 450px;
        height: 400px;
        margin: 0 auto;
    }
    .camParagraph{
        width: 450px;
    }
    .knight-text{
        width: 450px;
    }
    .knightpic{
        order: -1;
    }
    .tickets{
        font-size: 15px;
    }
    .ticketing{
        font-size: 18px;
        align-self: flex-start;
        width: 300px;
        height: 40px;
    }
    .back{
        width: 150px;
        height: 17px;
        font-size: 15px;
    }
    .dragons{
        align-self: flex-start;
        
    }
    .mead{
        width: 99%;
    }
    .modal-content{
        width:35%;
        
    }
    .information{
        font-size: 18px;
        align-self: flex-start;
        width: 300px;
        height: 20px;
        margin: 1em;
    }
    .go-back{
        width: 150px;
        height: 17px;
        font-size: 15px;
    }
    .sword{
        display: none;
    }
}
